.addDeck {
  display: block; 
  margin: 10px auto;
  width: auto; 
}

.searchForm {
  margin: 20px 50px; 
  padding: 20px;
  width: auto;
  height: auto;
  border-radius:10px; 
  box-shadow: 2px 2px 20px 1px grey; 
 
}

.searchResults {
  margin: 20px 50px; 
  padding: 20px;
  width: auto;
  height: auto;
  border-radius:10px; 
  /* border: 4px solid rgb(136, 136, 136);  */
  box-shadow: 2px 2px 20px 1px grey; 
  position: relative; 
  overflow: hidden; 
}

.resultsImg {
  float: right; 
  border-radius: 20px; 
  margin: 10px;
  height: 120px;
  width: 120px;
}

.searchFooter img {
  height: 30px;
  width: 100px;
  float: right; 
  margin: 5px;
}

.noResults {
  text-align: center; 
  font-style: italic; 
  margin: 100px 0;
  color: grey; 
  font-size: 20px; 
}

.report {
  text-align: center; 
  font-style: italic; 
  margin: 20px 0;
  color: grey; 
}

.spacer {
  padding: 30px;
}

.sendBtn {
  display: block; 
  margin: 10px auto;
  width: auto; 
}

body {
  background-color: whitesmoke;
}