body {
  background-color: whitesmoke;
}

.customForm {
  margin: 20px 50px; 
  padding: 20px;
  width: auto;
  height: auto;
  border-radius:10px; 
  border: 1px solid black; 
  position: relative;
  background-color: white;  
}

.customCardBtns {
  display: block; 
  margin: 10px auto;
  width: auto; 
}

.cardShadow {
  -webkit-box-shadow: 14px 15px 33px -12px rgba(0,0,0,0.85);
  -moz-box-shadow: 14px 15px 33px -12px rgba(0,0,0,0.85);
  box-shadow: 14px 15px 33px -12px rgba(0,0,0,0.85);
}

/* #deckName {
  margin: 10px 50px;
} */

.directions {
  padding-top: 15px;
  margin-bottom: -10px;
}
