.header {
  position: relative; 
}

.top-right {
  position: absolute;
  top: 28px;
  right: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  width: 30%; 
  height: 40%;

} 

h5 {
  color: white;
}
