.top-right {
  position: absolute;
  top: 28px;
  right: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  width: 30%; 
  height: 40%;
} 

h5 {
  color: white;
}

.header {
  position: relative; 
  box-shadow: 1px 19px 33px -18px rgba(0,0,0,0.85);
    -webkit-box-shadow: 1px 19px 33px -18px rgba(0,0,0,0.85);
    -moz-box-shadow: 1px 19px 33px -18px rgba(0,0,0,0.85);
}

img {
  margin-bottom: -8px;
}
